{% block body %}
<nav>
    <div class="nav-content">
        <div class="toggle-btn">
            <span class="material-symbols-outlined">add</span>
        </div>
        <span style="--i:1;">
            <a href="#"><span class="material-symbols-outlined">
                home
                </span></a>
        </span>
        <span style="--i:2;">
            <a href="#"><span class="material-symbols-outlined">
                favorite
                </span></a>
        </span>
        <span style="--i:3;">
            <a href="#"><span class="material-symbols-outlined">
                bolt
                </span></a>
        </span>
        <span style="--i:4;">
            <a href="#"><span class="material-symbols-outlined">
                assistant_navigation
                </span></a>
        </span>
        <span style="--i:5;">
            <a href="#"><span class="material-symbols-outlined">
                delete_sweep
                </span></a>
        </span>

    </div>
</nav>

{% endblock %}